*{
    box-sizing: border-box;
}


body{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
opacity: 0.8;
}


.form{
    display: flex;
    
}

.main{
    display: flex;
    flex-direction: column;

}

.quote{
    width:650px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

   
}

legend{
letter-spacing: 3px;
margin: 15px;
font-style: italic;
}


.img-element{
    width:400px;
    height: 100vh;
    
    background: url("https://images.pexels.com/photos/3227984/pexels-photo-3227984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.img-element p{
position:absolute;
color: white;
font-weight: bold;
bottom: 0;

}

.img-element a{
    text-decoration: none;
    color: white;
}
.content-parent{
    width: 650px;
    height: 350px;
    
}

.footer{
    width: 650px;
    height: 311px;
    
}


.inputs {
    display: flex;
    flex-direction: row;
    gap:150px;
    margin-left: 20px;
}

.column {
    flex: 1;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.input-wrapper label {
    margin-bottom: 5px; 
}

h3{
    margin-left: 39px;
}

label{
    letter-spacing: 2px ;
    text-transform: uppercase;
    font-size: small;
}

button{
    padding: 10px 50px;
    border-radius: 20px ;
    cursor:pointer;
    margin: 30px;
     background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
    
}

.footer p{
    margin: 30px;
    font-weight:bold;
    
}

.footer a{
    text-decoration: none;
    color: blue;
    
}

input{
    border-radius: 10px;
    outline: 0 ;
    overflow: hidden;
    
}

input:focus{
    border: 2px solid blue;
    box-shadow: 5px 5px 5px #888;
}

.overPhoto{
    background-color: rgba(0,0,0,0.3);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#odin-photo{
    width: 80px;
    height: 80px;

}

h1{
    color: white;
    font-family: 'Rubik Glitch Pop', system-ui;
    letter-spacing: 5px;
}

button:hover{
    transform: translateY(-10px);
    transition: transform ease-in-out 0.2s;
}


